body {
    
    margin: 0;
    padding: 0;
    background-image: url("texture.png");
    background-repeat: repeat;
    overflow-x: hidden;
    z-index: 100;
    background-size: 20em 20em;
}
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
#pliz {
    background-color: rgba(191, 179, 115, .6);
    width: 100vw;
    height: 100vh;
    z-index: 4000;
    position: absolute;
    opacity: 100%;
    text-align: center;
    
    font-family: 'Marck Script', cursive;
    
}
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
.instrp {
    font-size: 2.5vw;
    
    top: 50em;
    margin-top: 7em;
    
    color: #D95E32;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 1em;
    border-radius: .5em;
    
}
::-webkit-scrollbar-thumb {
    background: #8C845D;
    border-radius: .5em;
}

.texturei {
    margin-top: 0;
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    
}

.lista {
    position: sticky;
    top: 0;
    z-index: 3000;
    
}

.listaforma {
    
    
    background-color: #8C845D;
    
    display: flex;
   
    flex-direction: row;
    width: 100vw;
    font-family: 'PT Sans', sans-serif;

    
    
    position: sticky;
    background-size: 20em 20em;
    font-size: 2.3vw;
    height: 20vh;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    background-image: url("texture.png");
    color: #332F22;
    
  
    
}

@media (max-width: 600px ){

.listaforma {
    flex-direction: column;
    height: 30vh;
    margin: auto;

    
    
}
}
@media (min-width: 900px ){

.listaforma {
    font-size: 5vw;
}

}


input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.em;
}
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2724";
    border: 0.1em solid #4D4632;
    border-radius: 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    background-image: url("texture.png");
    background-size: 10em 10em;
    vertical-align: center;
    color: transparent;
    transition: .5s;
    align-content: center;
    text-align: center;
    margin: none;
    position: relative;
}

input[type=checkbox] + label:active:before {
    transform:scale(0.5);
}
input[type=checkbox]:checked + label:before {
background-color: #F2E4BB;
color: #D9753B;
border-color: teal;
border: 0.1em solid #4D4632;
align-content: center;
text-align: center;
margin: 0;

justify-content: space-around;
}
@media (min-width: 900px){
.listaforma {
    
    font-size: 2vw;
    padding-right: 10em;
    padding-left: 2em;
   
    width: 90vw;
 
}

}


.ode {
    padding-left: 0;
    height: 80vh;
    }

.preode {
    background-color: rgba(224, 155, 96, .3);
    
    border: 10px  rgba(224, 155, 96, 1) !important;
    border: 5px dotted  rgba(224, 155, 96, 1) !important;
    margin-left: 10vh;
    border-radius: 50em;
    margin-top: 4vh;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #332F22;
    z-index: 1000;
    background-image: url("texture.png");
    background-size: 20em 20em;
    width: 60vh;
    padding-top: 0;
    height: 60vh;
    align-self: center;
    align-content: center;
    text-align: center;
    /* font-size: 1.02vw; */
    font-size: 2.2vh;
    
    
}
@media (min-width: 1920px){
    .preode {
        margin-top: ;
    }
}
.titlu {
    padding-top: 1em;
    margin-top: 0;
    font-weight: bold;
    align-self: center;
    align-content: center;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
}
.violet:link {
    color: #332F22;
    text-decoration: none;
    target="_blank";
    
}
.violet:visited {
    color: #332F22;
}
.violet:hover {
    color: #D9753B;
    cursor: pointer;
  

}

.imagine {
    position: relative;
    
    
    flex-direction: ;
    width: fit-content;
    height: fit-content;
   
}
@media (min-width:1200px) {
    .imagine {
        right: 5vw;
    }
}
.imaginei {
    position: relative;
    border-radius: 10%;
    /* width: 180%; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 25vw;
    
   
}

 /*  
  .imaginei:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */

.imagine:hover .raspuns {
    opacity: 100%;
    transition: 1s ease-in;
    
}
.hov:hover .imaginei {
    opacity: 40%;
}
.hov:not(.imagine) {
    width: fit-content;
    height: fit-content;
    margin: 0;
    left: 66vw;
    top: 6vh;
    position: relative;

}
.hov {
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
.raspuns {
    transition: 1s ease-in;
    background-color: rgba(241, 96, 12, 0.4);
    position: absolute;
    align-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    top: 30%;
    left: 3%;
    border-radius: 1em;
    
    display: flex;
   
  font-size: 4vh;
    text-align: center;
    opacity: 0%;
    width: fit-content;
    
}
.raspunsp {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    color: #332F22;
}
/* @media (min-width: 1920px) {
    .imaginei {
        width: 40em;
        height: 40em;
        right: 8em;
    }
    .raspuns {
        top: 33%;
    left: -5%;

    }

} */



.formdiv {
    position: relative;
    
    display: flex;
    align-self: center;
    margin: auto;
    
    flex-direction: column;
    top: 0vh;
    right: 8em;
  
}

.formd {

    position: relative;
    width: 30vw;
    height: fit-content;
    border-radius: 1em;
    background-color: rgba(241, 96, 12, 0.4);
    padding: .3em;
    outline: none;
   
    color: #332F22;
    font-size: 2vw;
    display: flex;
    text-align: center;
    
    
}
.formd2 {

    /* position: absolute; */
    width: 30vw;
    
    border-radius: 1em;
    background-color: rgba(241, 96, 12, 0.4);
    padding: .3em;
    
    
    color: #F2E4BB;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    
   
    
    
}
.formdoi{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    
}


#demo {
   
    color: #332F22;
    font-size: 2vw;
    outline: none;
    


}
#numb {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: 2px solid #8C845D;
    border-radius: .5em 0 0 .5em;
    border-right: none;
    height: 6vh;
    text-align: center;
    padding: 0;
    font-size: 2vw;
    color: #332F22;
    font-weight: bold;
    width: 20vw;
}
.doi {
    border-top: 15px dotted #8C845D !important;
    display: flex;
    box-sizing: initial;
    padding-bottom: 6vh;
    margin-top: 1vh;
  
}

.but {
    font-size: 2vw;
    background-color: rgba(140, 132, 93, .5);
    border: 2px solid #8C845D;
    box-shadow: none;
    border-radius: 0em .5em .5em 0em;
    height: 6.4vh;
    outline: none;
    font-weight: bold;
    color: #332F22;
}




.imaginei:hover {
opacity: 40%;
transition: 1s ease-in;

}


.imaginei:hover + .formd {
   visibility: visible;
  
   transition: 2s ease-in;
}

.formd:hover {
    visibility: visible;
    transition: 1s ease-in;
}

.df {
    position: relative;
   
   
    padding-right: 0;
  
   /*  right: 20em;
  top: -7em; */
  
  width: max-content;
  z-index: -5;
  height: 82vh;
   width: 50vw;    
}
@media (min-width: 1200px) {
    .formdoi {
        top: -10vh;
    }
    .imagine {
        top: -5vh;
    }
   
    .df {
        top: -20vh;
    }

}
.doi {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 8em;
}
.deco {
   height: 82vh;
   width: 50vw;
    position: relative;
    left: -55vw;
    top: 70vh;
    
   
    
}
@media (min-width: 1600px){
.deco{
height: 82vh;
   width: 50vw;
   left: -48vw;
    top: 68vh;

}

}



.deco1 {
    position: absolute;
    margin-top: -8vh;
    margin-right: 13vw;
    right: 20vw;
    
    
}
.decoi1 {
    width: 40vw;
    height: 70vh;
    position: absolute;
    margin-top: 0;
    margin-left: 5em;
    opacity: 80%;
}

.deco2 {
    position: absolute;
    margin-top: -9vw;
    margin-right: 40vw;
    right: 17vw;
    
}
.decoi2 {
    width: 32vw;
    height: 50vh;
    position: absolute;
    margin-top: 0;
    margin-left: 5em;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: rotate(350deg);
    opacity: 60%;
}
.deco3 {
    position: absolute;
    margin-top: 15vh;
   right: 45vw;
   
   
 
}
.decoi3 {
    width: 32vw;
    height: 40vh;
    position: absolute;
    margin-top: 0;
    margin-left: 5vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: rotate(350deg);
    opacity: 20%;
}

@media (max-width: 600px){
.decoi1 {
    width: 60vw;
    height: 52vh;
 
}
.deco1 {
    position: absolute;
    margin-top: -8vh;
    margin-right: 13vw;
    right: 40vw;
    
}
.decoi2 {
    width: 35vw;
    height: 45vh;
    display: none;
}
.decoi3 {
    width: 55vw;
    height: 45vh;
    
}
.deco3 {
    position: absolute;
    margin-top: 15vh;
   right: 55vw;
   
 
}
}

@media (max-width: 900px){
.decoi1 {
    width: 60vw;
    height: 58vh;
 
}
.deco1 {
    position: absolute;
    margin-top: -8vh;
    margin-right: 13vw;
    right: 40vw;
    
}
.decoi2 {
    width: 35vw;
    height: 45vh;
    display: none;
}
.decoi3 {
    width: 80vw;
    height: 65vh;
    
}
.deco3 {
    position: absolute;
    margin-top: 8vh;
   right: 65vw;
   
 
}
}



.lorem {
    position: relative;
    margin-top: 5em;
}


.j {
    position: absolute;
    width: 12em;
    height: 12em;
    margin-top: -12em;
    margin-left: 3em;
}
.f {
    position: absolute;
    width: 9.2em;
    height: 9.2em;
    margin-top: -25em;
    margin-left: 42em;
    opacity: 70%;
    transform: rotate(20deg);
}
.c1 {
    position: absolute;
    width: 9em;
    height: 9em;
    margin-top: -25.5em;
    margin-left: 8em;
    opacity: 60%;
    transform: rotate(90deg);
}

.c2 {
    position: absolute;
    width: 6em;
    height: 6em;
    margin-top: -10em;
    margin-left: 28em;
    opacity: 70%;
    transform: rotate(360deg);
}
.c3 {
    position: absolute;
    width: 4em;
    height: 3em;
    margin-top: -5em;
    margin-left: 38em;
    
    opacity: 40%;
    transform: rotate(350deg);
}

.j2 {
    position: absolute;
    width: 12em;
    height: 12em;
    margin-top: -12em;
    margin-left: 5em;
display: none;
    transform: rotate(300deg);
    
}
.f2 {
    position: absolute;
    width: 9em;
    height: 9em;
    margin-top: -8em;
    margin-left: 44em;
    opacity: 100%;
  
    transform: rotate(260deg);
}
.c11 {
    position: absolute;
    width: 9em;
    height: 9em;
    margin-top: -9em;
    margin-left: 18em;
    opacity: 10%;
    
    transform: rotate(310deg);
}

.c22 {
    position: absolute;
    width: 6em;
    height: 6em;
    margin-top: -25em;
    margin-left: 30em;
    opacity: 20%;
   
    transform: rotate(130deg);
}
.c33 {
    position: absolute;
    width: 4em;
    height: 3em;
    margin-top: -20em;
    margin-left: 37em;
   
    opacity: 20%;
    transform: rotate(150deg);
}


.j3 {
    position: absolute;
    width: 12em;
    height: 12em;
    margin-top: -12em;
    margin-left: 5em;
display: none;
    transform: rotate(300deg);
    
}
.f3 {
    position: absolute;
    width: 9em;
    height: 9em;
    margin-top: -15em;
    margin-left: 36em;
    opacity: 60%;
  
    transform: rotate(260deg);
}
.c111 {
    position: absolute;
    width: 9em;
    height: 9em;
    margin-top: -9em;
    margin-left: 18em;
    opacity: 40%;
    
    transform: rotate(310deg);
}

.c222 {
    position: absolute;
    width: 6em;
    height: 6em;
    margin-top: -15em;
    margin-left: 48em;
    opacity: 30%;
   
    transform: rotate(0deg);
}
.c333 {
    position: absolute;
    width: 4em;
    height: 3em;
    margin-top: -15em;
    margin-left: 11em;
    
    opacity: 30%;
    transform: rotate(250deg);
}
.ff {
    position: absolute;
    width: 16em;
    height: 13em;
    margin-top: -21em;
    margin-left: 16em;
    opacity: 50%;
    transform: rotate(325deg);
}

/* @media (min-width: 1920px) {
    .deco {
        left: -30vw;
        top: 35vh;
       opacity: 50%;
       width: ;
    }
    .formd {
        font-size: 38px;
        left: -8em;
    }
    .formd2 {
        font-size: 38px;
        left: -8em;
    }
    #numb {
        font-size: 25px;
    }
    #but {
        font-size: 30px
        
    }
    .but {
        height: 6.8em;
        
    }
  
   .j {
    position: absolute;
    width: 18em;
    height: 18em;
    margin-top: -8em;
    margin-left: 1em;
}
.f {
    position: absolute;
    width: 16em;
    height: 16em;
    margin-top: -28em;
    margin-left: 50em;
    opacity: 70%;
    transform: rotate(20deg);
}
.c1 {
    position: absolute;
    width: 15em;
    height: 15em;
    margin-top: -29em;
    margin-left: 2em;
    opacity: 60%;
    transform: rotate(90deg);
}

.c2 {
    position: absolute;
    width: 10em;
    height: 10em;
    margin-top: -10em;
    margin-left: 28em;
    opacity: 70%;
    transform: rotate(360deg);
}
.c3 {
    position: absolute;
    width: 9em;
    height: 8em;
    margin-top: -2em;
    margin-left: 38em;
    
    opacity: 40%;
    transform: rotate(350deg);
}

.j2 {
    position: absolute;
    width: 20em;
    height: 20em;
    margin-top: -12em;
    margin-left: 5em;
display: none;
    transform: rotate(300deg);
    
}
.f2 {
    position: absolute;
    width: 17em;
    height: 17em;
    margin-top: -8em;
    margin-left: 44em;
    opacity: 100%;
  
    transform: rotate(260deg);
}
.c11 {
    position: absolute;
    width: 15em;
    height: 15em;
    margin-top: -9em;
    margin-left: 18em;
    opacity: 10%;
    
    transform: rotate(310deg);
}

.c22 {
    position: absolute;
    width: 12em;
    height: 12em;
    margin-top: -25em;
    margin-left: 30em;
    opacity: 20%;
   
    transform: rotate(130deg);
}
.c33 {
    position: absolute;
    width: 8em;
    height: 7em;
    margin-top: -20em;
    margin-left: 37em;
   
    opacity: 20%;
    transform: rotate(150deg);
}


.j3 {
    position: absolute;
    width: 12em;
    height: 12em;
    margin-top: -12em;
    margin-left: 5em;
display: none;
    transform: rotate(300deg);
    
}
.f3 {
    position: absolute;
    width: 9em;
    height: 9em;
    margin-top: -15em;
    margin-left: 36em;
    opacity: 60%;
  
    transform: rotate(260deg);
}
.c111 {
    position: absolute;
    width: 9em;
    height: 9em;
    margin-top: -9em;
    margin-left: 18em;
    opacity: 40%;
    
    transform: rotate(310deg);
}

.c222 {
    position: absolute;
    width: 6em;
    height: 6em;
    margin-top: -15em;
    margin-left: 48em;
    opacity: 30%;
   
    transform: rotate(0deg);
}
.c333 {
    position: absolute;
    width: 4em;
    height: 3em;
    margin-top: -15em;
    margin-left: 11em;
    
    opacity: 30%;
    transform: rotate(250deg);
}
.ff {
    position: absolute;
    width: 16em;
    height: 13em;
    margin-top: -21em;
    margin-left: 16em;
    opacity: 50%;
    transform: rotate(325deg);
}
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');


.love {
    
    position: relative;
    margin-top: -15em;
   
    color: #D95E32;
    font-family: 'Pacifico', cursive;
   
 
}
@media (min-width: 1200px){
    .love {
top: -50vh;
}
}

.lovep {
    
    border-top: 15px dotted #8C845D !important;
    border-bottom: 15px dotted #8C845D !important;
  
    position: relative;
    font-size: 50vh;
    background-color:;
    display: flex;
    justify-content: space-around;
    font-family: 'Pacifico', cursive;
}
@media (max-width: 600px){
    .lovep {
        font-size: 30vh;
    }
}
@media (max-width: 900px){
    .lovep {
        font-size: 35vh;
    }
}
@media (min-width:1920px){
    .lovep {
        font-size: 45vh;
        letter-spacing: .02em;
        padding-left: .1em;
        padding-right: .5em;
    }
}
.o {
    display: none;
}

.rot {
    cursor: pointer;
    position: relative;
    width: .82em;
    height: .82em;
    margin-top: .3em;
    animation: rotation 10s infinite linear;
}
@media (min-width: 1920px) {
    .rot {
        width: 1em;
        height: 1em;
        margin-top: .25em;
    }


}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }




  #li {
   
    cursor: context-menu;
    opacity:0; transition: opacity 3s ease-in; }
.opac{opacity: 1 !important;}

#v {
    cursor: context-menu;
    opacity:0; transition: opacity 3s ease-in; }
    .opac{opacity: 1 !important;}
#e {
    cursor: context-menu;
        opacity:0; transition: opacity 3s ease-in; }
        .opac{opacity: 1 !important;}

.painti {
    position: relative;
    width: 30%;
    
    transform: rotate(0deg);
    left: 3em;
   
    margin: 0;
}
.painti:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.paint {
    position: relative;
    top: -30em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-bottom: 4em;
    border-bottom: 15px dotted #8C845D 
    !important;
    


}
@media (min-width: 1200px) {
    .paint {
        top: -35em;
    }
}
@media (min-width: 1800px) {
    .paint {
        top: -55em;
    }
    .final {
        margin-top: -15em;
    }
}
@media (max-width: 900px) {
    .paint {
        top: -25vh;
        padding-bottom: 4em;
    }
    
}

@media (min-width: 900px) {
    .text {
        font-size: 2rem;
    }
}
.text {
   right: 2em;
    font-size: 1.7vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.textp {
    
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #332F22;
    font-family: 'PT Sans', sans-serif;


}

::selection {
    background: rgba(241, 96, 12, 0.4);; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: rgba(241, 96, 12, 0.4);; /* Gecko Browsers */
  }

.final {
    background-color: #8C845D;
    position: relative;
    top: -15em;
    height: 25vh;
    
    
}

.finalp {
    
    padding-top: 2em;
    height: 50vh;
    font-size: 10vh;
    background-color: #8C845D;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: #994323;
    letter-spacing: .08em;
    font-family: 'PT Sans', sans-serif;
}

@media (max-width: 900px){
.final {
top: -10em;
margin-bottom: 0;
padding-bottom: 0;

}
.finalp {
    height: 100vh;
}

}

@media (min-width: 1200px){
.final {
top: -35em;
margin-bottom: 0;
padding-bottom: 0;

}
.finalp {
    height: 100vh;
}

}

.answers{
    
    
    padding-top: 5em;
    
    align-self: center;
    margin: auto;
    background-color: ;
    height: fit-content;
    width: fit-content;
    
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

}
.answers img {
    margin-top: 2em;
}
.answers:last-child {
    padding-bottom: 2em;
}

@media (max-width: 600px) {
.hov{
    display: none;
}
.formdiv{
    margin: auto;
    left: 25vw;
    font-size: 5vw;
}
.doi {
    padding-bottom: 0;
}
.formd {
    font-size: 3.5vw;
    width: 50vw;
}
.formd2 {
    font-size: 3.5vw;
    width: 50vw;
}
.answers img{
width: 50vw;
}
}
